<section class="slide-section swiper-slide slide-priority">
  <div class="slide-section__body">
    <div class="front-interactive slide-section__interactive slide-section__interactive-4">
      <div class="layer-0 front-interactive__img front-interactive__img--background">
        <img src="images/top_z-index_4_9.png" alt="">
      </div>
      <div class="layer-1 front-interactive__img front-interactive__img--main front-interactive__img--section-4">
        <img src="images/models/section_4.png" alt="">
      </div>
      <div class="layer-2 front-interactive__img front-interactive__img--subbackground">
        <img src="images/vector_smart_object_p.png" alt="">
      </div>
    </div>
    <div class="front-content">
      <div class="front-content__slogans front-content__slogans--section4" data-swiper-animation="fadeInDown" data-duration=".2s">
        <div class="front-content__job">
          <p class="text text-medium">Работа <br> вэб моделью в харькове</p>
        </div>
      </div>
      <div class="front-content__titles front-content__titles--section4">
        <h2 class="front-content__title text text-large" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".4s">Преимущество работы</h2>
      </div>
      <div class="front-content__conditions">
        <p class="front-content__text text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">
          <span class="front-content__text text-focus">3Fmodels</span> -
          это Сообщество успешных девушек, проживающих в замечательном городе Харькове и нашедших себя в популярной сегодня сфере вебкам индустрии.
        </p>
        <p class="front-content__text text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">
          <span class="front-content__text text-focus">3Fmodels</span> -
          это круг единомышленников, высокое финансовое положение которых не зависит от нестабильных внешних факторов и желания третьих лиц.
        </p>
        <p class="front-content__text text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">
          <span class="front-content__text text-focus">3Fmodels</span> -
          это мир ярких впечатлений и возможностей, мир преображения и новых достижений, мир независимости и подлинной свободы самовыражения.
        </p>
        <div class="front-content__actions front-content__actions--section4">
          <button class="def-button def-button__positive def-button__positive--next def-button__positive--calculate" data-swiper-animation="fadeInDown" data-duration=".5s" data-delay=".8s">рассчитать оплату</button>
          <button class="def-button def-button__negative def-button__negative--back" data-swiper-animation="fadeInDown" data-duration=".5s" data-delay="1s">назад</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="slide-section__footer"></footer>
</section>