<section class="slide-section swiper-slide slide-priority">
  <div class="slide-section__body">
    <div class="front-interactive slide-section__interactive slide-section__interactive-2">
      <div class="layer-0 front-interactive__img front-interactive__img--background">
        <img src="images/top_z-index_2_11.png" alt="">
      </div>
      <div class="layer-1 front-interactive__img front-interactive__img--main front-interactive__img--section-2">
        <img src="images/models/section_2.png" alt="">
      </div>
      <div class="layer-2 front-interactive__img front-interactive__img--subbackground">
        <img src="images/vector_smart_object_p.png" alt="">
      </div>
    </div>
    <div class="front-content front-content--section2">
      <div class="front-content__slogans front-content__slogans--section2" data-swiper-animation="fadeInDown" data-duration=".2s">
        <div class="front-content__job">
          <p class="text text-medium">Работа <br> вэб моделью в харькове</p>
        </div>
      </div>
      <div class="front-content__titles front-content__titles--section2">
        <h2 class="front-content__title text text-large" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".4s">Мало платят?</h2>
        <h2 class="front-content__title text text-large" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">Все плохо?</h2>
      </div>
      <div class="front-content__questions front-content__questions--section2">
        <ul class="front-content__list">
          <li class="front-content__item text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".8s">Ищешь себя?</li>
          <li class="front-content__item text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".8s">Не можешь реализоваться?</li>
          <li class="front-content__item text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".8s">Без опыта не берут на работу?</li>
        </ul>
      </div>
      <div class="front-content__actions front-content__actions--section2">
        <button class="def-button def-button__positive def-button__positive-toForm" id="test" data-swiper-animation="fadeInDown" data-duration=".5s" data-delay="1s">хочу все изменить</button>
        <button class="def-button def-button__negative" data-popup-btn="step-to-2" data-swiper-animation="fadeInDown" data-duration=".5s" data-delay="1.2s">все устраивает</button>
      </div>
    </div>
  </div>
  <footer class="slide-section__footer"></footer>
</section>