<section class="slide-section swiper-slide slide-priority">
  <div class="slide-section__body">
    <div class="front-interactive slide-section__interactive slide-section__interactive-5">
      <div class="layer-0 front-interactive__img front-interactive__img--background">
        <img src="images/top_z-index_1_9.png" alt="">
      </div>
      <div class="layer-1 front-interactive__img front-interactive__img--main front-interactive__img--section-5">
        <img src="images/models/section_5.png" alt="">
      </div>
      <div class="layer-2 front-interactive__img front-interactive__img--subbackground">
        <img src="images/vector_smart_object_p.png" alt="">
      </div>
    </div>
    <div class="front-content">
      <div class="front-content__slogans front-content__slogans--section5" data-swiper-animation="fadeInDown" data-duration=".2s">
        <div class="front-content__job">
          <p class="text-medium">Работа <br> вэб моделью в харькове</p>
        </div>
      </div>
      <div class="front-content__titles front-content__titles--section5">
        <h2 class="front-content__title text-large" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".4s" data-anchor="calculate">Калькулятор оплаты</h2>
      </div>
      <div class="calculate-block front-content__calculate" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">
        <header class="calculate-block__header">
          <p class="calculate-block__result text-large">
            <span class="calculate-block__value"></span>
            <span class="calculate-block__currency">₴</span>
          </p>
          <p class="calculate-block__condition text-default text-default--up">заработотаешь за 1 месяц если:</p>
        </header>
        <div class="calculate-block__body">
          <div class="calculate-block__col calculate-block__col--50">
            <h3 class="calculate-block__title text-default text-default--up">опыт работы</h3>
            <div class="calculate-block__actions">
              <p class="calculate-block__action">
                <input type="radio" name="months" id="skill0month" class="calculate-block__input" value="0 мес.">
                <label class="calculate-block__label text-default" for="skill0month">0 мес.</label>
              </p>
              <p class="calculate-block__action">
                <input type="radio" name="months" id="skill2-6month" class="calculate-block__input" value="1 мес." checked>
                <label class="calculate-block__label text-default" for="skill2-6month">2 - 6 мес.</label>
              </p>
              <p class="calculate-block__action">
                <input type="radio" name="months" id="skillmore6month" class="calculate-block__input" value="6 мес.">
                <label class="calculate-block__label text-default" for="skillmore6month">> 6 мес.</label>
              </p>
            </div>
          </div>
          <div class="calculate-block__col calculate-block__col--50">
            <h3 class="calculate-block__title text-default text-default--up">английский</h3>
            <div class="calculate-block__actions">
              <p class="calculate-block__action">
                <input type="radio" name="eng" id="skillpooreng" class="calculate-block__input" value="плохо">
                <label class="calculate-block__label text-default" for="skillpooreng">плохо</label>
              </p>
              <p class="calculate-block__action">
                <input type="radio" name="eng" id="skillconfidenteng" class="calculate-block__input" value="уверенно" checked>
                <label class="calculate-block__label text-default" for="skillconfidenteng">уверенно</label>
              </p>
              <p class="calculate-block__action">
                <input type="radio" name="eng" id="skillfluencyeng" class="calculate-block__input" value="свободно">
                <label class="calculate-block__label text-default" for="skillfluencyeng">свободно</label>
              </p>
            </div>
          </div>
          <div class="calculate-block__col calculate-block__col--100">
            <h3 class="calculate-block__title text-default text-default--up">часы работы в неделю</h3>
            <div class="calculate-block__actions">
              <p class="calculate-block__action">
                <input type="radio" name="hours" id="hour30" class="calculate-block__input" value="30">
                <label class="calculate-block__label text-default" for="hour30">30</label>
              </p>
              <p class="calculate-block__action">
                <input type="radio" name="hours" id="hour40" class="calculate-block__input" value="40" checked>
                <label class="calculate-block__label text-default" for="hour40">40</label>
              </p>
              <p class="calculate-block__action">
                <input type="radio" name="hours" id="hour50" class="calculate-block__input" value="50">
                <label class="calculate-block__label text-default" for="hour50">50</label>
              </p>
            </div>
          </div>
        </div>
        <div class="calculate-block__buttons" style="display: none">
          <button class="def-button def-button__positive">рассчитать оплату</button>
          <button class="def-button def-button__negative">назад</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="slide-section__footer"></footer>
</section>