<section class="slide-section swiper-slide slide-priority">
  <div class="slide-section__body">
    <div class="front-interactive slide-section__interactive slide-section__interactive-8">
      <div class="layer-0 front-interactive__img front-interactive__img--background">
        <img src="images/top_z-index_8_1.png" alt="">
      </div>
      <div class="layer-1 front-interactive__img front-interactive__img--main front-interactive__img--section-8">
        <img src="images/models/section_8.png" alt="">
      </div>
      <div class="layer-2 front-interactive__img front-interactive__img--subbackground">
        <img src="images/vector_smart_object_p.png" alt="">
      </div>
    </div>
    <div class="front-content">
      <div class="front-content__slogans front-content__slogans--section8" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".4s">
        <div class="front-content__job">
          <p class="text text-medium">Работа <br> вэб моделью в харькове</p>
        </div>
      </div>
      <div class="front-content__titles front-content__titles--section8">
        <h2 class="front-content__title text text-large" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".4s" data-anchor="last">анкета</h2>
      </div>
      <div class="form-block front-content__form">
        <h3 class="form-block__title text text-default text-default--up" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">заполни, что бы стать моделью:</h3>
        <form action="" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".7s">
          <input class="form-block__input text text-default" type="text" placeholder="ФИО">
          <input class="form-block__input text text-default" type="number" placeholder="Возраст">
          <input class="form-block__input text text-default" type="number" placeholder="Телефон">
          <div class="form-block__file">
            <input class="form-block__input" type="file" id="form-file">
            <label class="form-block__label" for="form-file">+</label>
          </div>
          <div class="form-block__actions front-content__actions--section8">
            <button class="def-button def-button__positive" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".8s">отправить анкету</button>
            <button class="def-button def-button__negative def-button__negative--back" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".9s">назад</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="slide-section__footer"></footer>
</section>