<section class="slide-section swiper-slide slide-priority">
  <div class="slide-section__body">
    <div class="front-interactive slide-section__interactive slide-section__interactive-6">
      <div class="layer-0 front-interactive__img front-interactive__img--background">
        <img src="images/top_z-index_6_4.png" alt="">
      </div>
      <div class="layer-1 front-interactive__img front-interactive__img--main front-interactive__img--section-6">
        <img src="images/models/section_6.png" alt="">
      </div>
      <div class="layer-2 front-interactive__img front-interactive__img--subbackground">
        <img src="images/vector_smart_object_p.png" alt="">
      </div>
    </div>
    <div class="front-content">
      <div class="front-content__slogans front-content__slogans--section6" data-swiper-animation="fadeInDown" data-duration=".2s">
        <div class="front-content__job">
          <p class="text text-medium">Работа <br> вэб моделью в харькове</p>
        </div>
      </div>
      <div class="front-content__titles front-content__titles--section6">
        <h2 class="front-content__title text text-large" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".4s">Факты о студии</h2>
      </div>
      <div class="front-content__progress">
        <p class="front-content__text text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".5s">
          Работаем не только со странами СНГ, но и за рубежом! Основная масса наших клиентов находится заграницей.
        </p>
        <ul class="front-content__awards" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">
          <li class="front-content__award"><img src="images/awards2019.png" alt="award-1"></li>
          <li class="front-content__award"><img src="images/ynot.png" alt="award-2"></li>
          <li class="front-content__award"><img src="images/nominee2019.png" alt="award-3"></li>
          <li class="front-content__award"><img src="images/nominee2019-modest.png" alt="award-4"></li>
        </ul>
        <p class="front-content__text text text-default" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".6s">
          За годы работы мы были не раз номинированы на разных церемониях наград нашего бизнесса. AW Awards , YNOT Awards, LAL Expo и Bucharest Summit Awards.
        </p>
      </div>
      <div class="front-content__actions front-content__actions--section6">
        <button class="def-button def-button__positive def-button__positive-toForm" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay=".8s">хочу в студию</button>
        <button class="def-button def-button__negative def-button__negative--back" data-swiper-animation="fadeInDown" data-duration=".2s" data-delay="1s">назад</button>
      </div>
    </div>
  </div>
  <footer class="slide-section__footer"></footer>
</section>