<div class="popup-overlay">
  <!-- container for content -->
  <div class="popup-window" data-popup-content="step-to-1">
    <div class="popup-window__imgs">
      <div class="popup-window__img popup-window__img--4"><img src="images/popup/full_1.png" alt="image1"></div>
    </div>
    <div class="popup-overlay__wrap">
      <!-- button of close -->
      <span class="popup-overlay__divider">или</span>
      <button class="popup-overlay__close">
        <span>Esc</span>
      </button>
      <div class="popup-window__content">
        <div class="popup-window__container">
          <h3 class="popup-window__title">Время идет</h3>
          <p class="popup-window__text">Сегодня вас это устаивает, но что будет через 5, 10, 15 лет?</p>
          <p class="popup-window__text">Мы считаем, что не стоит думать о перспективе, если ее можно уже взять сегодня.</p>
        </div>
        <div class="popup-window__action">
          <button class="popup-window__try popup-window__try-2 popup-window__toForm">попробуй</button>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-window popup-window--second" data-popup-content="step-to-2">
    <div class="popup-window__imgs">
      <div class="popup-window__img popup-window__img--4"><img src="images/popup/full_2.png" alt="image1"></div>
    </div>
    <div class="popup-overlay__wrap">
      <!-- button of close -->
      <span class="popup-overlay__divider">или</span>
      <button class="popup-overlay__close">
        <span>Esc</span>
      </button>
      <div class="popup-window__content">
        <div class="popup-window__container">
          <h3 class="popup-window__title">Вы свободны в своем выборе</h3>
          <p class="popup-window__text">Но когда есть выбор между "хорошее" и "лучшее" - очевидно, какой выбор правильный. У нас лучшие условия для новичков: высокие отчисления, ежедневные выплаты с первого дня работы, лучшие трененры и хорошая атмосфера. Приоткрой для себя завесу тайны - просто попробуй, и уже спустя несколько дней ты поймешь, что сделала правильный выбор. Заполни заявку - мы ждем именно тебя))</p>
        </div>
        <div class="popup-window__action">
          <button class="popup-window__try popup-window__try-3 popup-window__toForm">попробуй</button>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-window popup-window--third" data-popup-content="step-to-3">
    <div class="popup-window__imgs">
      <div class="popup-window__img popup-window__img--4"><img src="images/popup/full_3.png" alt="image1"></div>
    </div>
    <div class="popup-overlay__wrap">

      <!-- money as separate items -->
      <div class="popup-overlay__bill">
        <img src="images/popup/kopecks.png" alt="">
      </div>

      <span class="popup-overlay__divider">или</span>
      <!-- button of close -->
      <button class="popup-overlay__close">
        <span>Esc</span>
      </button>
      <div class="popup-window__content">
        <div class="popup-window__container">
<!--          <h3 class="popup-window__title">Вы свободны в своем выборе</h3>-->
          <p class="popup-window__text">Средняя зарплата в Украине на апрель 2019 составили 10237 грн. Благодаря нашей опытной команде - мы быстро раскачиваем заработок наших моделей до среднего в 2500$ (~65000 грн)/месяц на руки. Большинство наших опытных моделей зарабатывают $4000 - 6000/месяц, а топы - и $10000/месяц. С нами модели воплощают свои мечты, покупая квартиры, машины и открывая собственные бизнесы, продолжая работать с нами.</p>
        </div>
        <div class="popup-window__action">
          <button class="popup-window__try popup-window__try-4 popup-window__toForm">попробуй</button>
        </div>
      </div>
    </div>
  </div>
</div>