.def-button {
  min-height: 58px;
  position: relative;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "sans regular";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }

  //&:hover {
  //  color: red;
  //}

  &__positive {
    background: #ee3723;
    padding: 0 10px 0 35px;
    margin-right: 60px;
    transition: background .3s;

    &:hover {
      background: darken(#ee3723, 5%);
    }

    &:hover:after {
      border-color: darken(#ee3723, 5%) transparent transparent transparent;
    }

    &:after {
      content: '';
      position: absolute;
      left: 100%;
      top: 0;
      border-style: solid;
      border-width: 58px 58px 0 0;
      border-color: #ee3723 transparent transparent transparent;
      transform: translateX(-1px);
      transition: border-color .3s;
    }

  }

  &__negative {
    position: relative;
    top: 20px;
    background: #888888;
    padding: 0 30px 0 10px;
    transition: background .3s;

    &:hover {
      background: darken(#888888, 5%);
    }

    &:hover:before {
      border-color: transparent transparent darken(#888888, 5%) transparent;
    }

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      border-style: solid;
      border-width: 0 0 58px 58px;
      border-color: transparent transparent #888888 transparent;
      transform: translateX(1px);
      transition: border-color .3s;
    }

  }

}